.navbar .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar .bar {
  height: 3px;
  width: 25px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .navbar .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar .nav-links.active {
    display: flex;
  }

  .navbar .menu-toggle {
    display: flex;
  }
}
